{% load static %}


<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/vdrr28" role="button"
        ><img src="{% static 'images/facebook.png' %}" alt=""></i
      ></a>


    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
 <span class="navbar-text  ml-auto" style="color: white"  >
      <a class="btn btn-outline-light btn-floating m-1" href="/logout" role="button"
        >Cerrar sesion</a>
    </span>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">KMP-SOFT</a>
  </div>
  <!-- Copyright -->
</footer>